.pagination{
    color: rgb(41, 34, 34);
    position: fixed;
    left:0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 122, 115);
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    list-style-type: none;
}

.pagination a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 8px;
    font-size: 20px;
    background-color:rgb(224, 216, 216);
    color: #1c1e29;
    text-decoration: none;
    padding: 10px 12px;
}

.pagination a:hover{
    background-color: rgb(90, 66, 66);
    color: #fff;;
}
.active-page{
    background-color: rgb(19, 9, 9);
    color: rgb(9, 6, 6);
}