
.form-group{
    margin-top: 5px;
    width: auto;
    border: solid;
    color: white;
    padding: 0px;
}
.btn-close{
    /* background-color:red; */
    /* background: red; */
    padding-bottom: 10;
    width: 10px;
}

.register-button{
    border: none;
    background-color: #2ca849;
    border-radius:8px;
    width:100%;
    padding: 15px;
    color: white;
}