
.form-group{
    margin-top: 5px;
    width: auto;
    border: solid;
    color: white;
    font-size: bold;
    padding: 0px;
    

}
.btn-close{
    /* background-color:red; */
    /* background: red; */
    padding-bottom: 10;
    width: 10px;

}

.register-button{
    background-color: rgb(183, 131, 111);
    border-radius:10px;
    width:100%;
    padding: 15px;
}