@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.search-data{
  padding: 5px 80px;
  min-height: 100vh;
  margin-right: 0 !important;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.filter-page {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
.apply{
  font-weight: 650;
  list-style: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 12px;
padding: 1vh 2vw;
}
.search-query{
  margin-right:35vw ;
  position: relative;
  font-size:1.5rem;
}
.search-query-name{
  color: rgb(68, 27, 15);
  font-weight: bold;
  text-decoration: underline;
}
#data-not-found{
  display: flex;
  justify-content: center;
  margin-top: 23vh;
  font-size: 2.5rem;
}
.sortBy {
  height: 40px;
  margin-left: 2vw;
  border-radius: 8px;
  padding: 10px;
}
.date {
  height: 40px;
  border-radius: 8px;
  padding: 10px;
}
.bg-img {
  background-image: url("https://images.pexels.com/photos/3944454/pexels-photo-3944454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: repeat-y;
  height: 91.5vh;
}
.bg-image {
  background-image: url("https://images.pexels.com/photos/3944454/pexels-photo-3944454.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: repeat-y;
  height: auto;
}