@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.heading {
  color: rgb(211, 203, 203);
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

.bg-img-home {
  background-image: url("https://images.pexels.com/photos/3095621/pexels-photo-3095621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  height: 91.5vh;
  background-position: center;
}

.model-ul {
  display: flex;
  padding-top: 10px;
  margin-right: 80px;
}
.login {
  margin-right: 2vw;
}
.login,
.register {
  padding: 4px 15px;
  font-weight: 800;
  list-style: none;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  color: black;
  border: none;
  border-radius: 12px;
  font-family: "Times New Roman", Times, serif;
}
.login:hover,
.register:hover {
  background-color: #28c93b;
  border: none;
  list-style: none;
  cursor: pointer;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
