.form-group{
    margin-top: 5px;
    width: 100%;
    border: solid;
    color: white;
    font-size: bold;
    padding: 0px;
}
.emailID
{
    width: 100%;
    height: 40px;
    border-radius:10px;
    border-color: rgb(175, 161, 161);

}
.password-txt{
    width: 100%;
    height: 40px;
    border-radius:10px;
    border-color: rgb(175, 161, 161);

}
.login-button{
    background-color: #2f663c;
    border-radius:10px;
    width:100%;
    padding: 15px;
    color: white;
}


