@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.brand {
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px;
  font-size: 90px;
  line-height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.date {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin: 1px;
  line-height: 100%;
  margin-left: 35%;
  font-weight: bold;
  color: rgb(52, 50, 48);
}

.headline {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(50, 45, 45);
}

.today-paper {
  font-family: "Times New Roman", Times, serif;
  margin: 1px;
  /* line-height: 100%; */
  font-weight: bold;
  margin-left: 30px;
  background-color: white;
  border-color: white;
}

.date-time{
  display: flex;
  align-items: center;
}