@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");


.headline {
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(50, 45, 45);
}

.container{
  height: 100%;
}
