.heading{
    color: rgb(211, 203, 203);
    font-weight: 800;
    display:flex;
    justify-content:space-between;
    /* padding-bottom: 20px; */
    margin: auto;
}

.bg-img{
    background: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.model-ul{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    margin-right: 80px;
}

.login,.register{
   
    padding: 10px 10px;
    font-weight: 800;
    list-style: none;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: rgb(33, 27, 28);
    border: none;
    border-radius: 10px;

    }
.login:hover,.register:hover{
    background-color: #c34112;
    border: none;
    list-style: none;
    cursor: pointer;
    color: white;
}

