@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.card-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: 25px;
  font-size: 22px;
  line-height: 100%;
  color: black;
  margin-top: 10px;
}
.news-item {
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  line-height: 100%;
  color: rgb(44, 41, 41);
}
.body {
  border-radius: 20px;
  box-shadow: 2px 3px 10px;
  background-color: rgb(235, 229, 227);
  padding: 20px;
}
.main-card {
  height: 100%;
}
