 /* @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.search-page{
    
    border-radius:9px;
    padding-bottom: 10px;
    margin-left:80px;
    width: 50%;
    justify-content: center;
    position: relative;
    width: 360px;
}

.search-btn{
    border-radius: 9px;
    padding-bottom: 10px;
}   */
