@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 1800px 1400px;
  font-size: 17px;
}
.container {
  max-width: auto;
  margin: 0 auto;
}
.page {
  display: flex;
  justify-content: center;
}
.scroll-btn{
  margin-bottom:35px ;
}
.pages-container{
  width: fit-content;
}