@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

body{
  font-family: "Lato",sans-serifs;
  background-color: white;
  align-items: center;
  /* background-image: url("https://images.pexels.com/photos/3123913/pexels-photo-3123913.jpeg?cs=srgb&dl=pexels-ylanite-koppens-3123913.jpg&fm=jpg"); */
  background-repeat: no-repeat;
  background-size: 1800px 1400px;
}
.container{
  max-width: auto;
  margin:0 auto;

}
.page{
  margin-bottom:12vh;
  display: flex;
  justify-content: center;
}